Statis/Service References/StatisServices/StatisServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/StatisServices?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StatisServiceContracts" />
  <xs:element name="GetQuestionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionnaireName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuestionnaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StatisServiceContracts" minOccurs="0" name="GetQuestionnaireResult" nillable="true" type="q1:Questionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreQuestionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StatisServiceContracts" minOccurs="0" name="questionnaire" nillable="true" type="q2:Questionnaire" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreQuestionnaireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestionnaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="questionnaireName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteQuestionnaireResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>