Statis/Service References/StatisServices/StatisServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/StatisServiceContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StatisServiceContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/StatisServices?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Questionnaire">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Questions" nillable="true" type="tns:ArrayOfQuestion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Questionnaire" nillable="true" type="tns:Questionnaire" />
  <xs:complexType name="ArrayOfQuestion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Question" nillable="true" type="tns:Question" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQuestion" nillable="true" type="tns:ArrayOfQuestion" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="QuestionId" type="ser:guid" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
  <xs:complexType name="ImgTextQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TextQuestion">
        <xs:sequence>
          <xs:element minOccurs="0" name="Img" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImgTextQuestion" nillable="true" type="tns:ImgTextQuestion" />
  <xs:complexType name="TextQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Question">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextQuestion" nillable="true" type="tns:TextQuestion" />
  <xs:complexType name="ImgChoiceQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ChoiceQuestion">
        <xs:sequence>
          <xs:element minOccurs="0" name="Img" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImgChoiceQuestion" nillable="true" type="tns:ImgChoiceQuestion" />
  <xs:complexType name="ChoiceQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Question">
        <xs:sequence>
          <xs:element minOccurs="0" name="ChoiceList" nillable="true" type="tns:ArrayOfChoice" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChoiceQuestion" nillable="true" type="tns:ChoiceQuestion" />
  <xs:complexType name="ArrayOfChoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Choice" nillable="true" type="tns:Choice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChoice" nillable="true" type="tns:ArrayOfChoice" />
  <xs:complexType name="Choice">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Choice" nillable="true" type="tns:Choice" />
  <xs:complexType name="TextChoice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Choice">
        <xs:sequence>
          <xs:element minOccurs="0" name="Option" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TextChoice" nillable="true" type="tns:TextChoice" />
  <xs:complexType name="NumberChoice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Choice">
        <xs:sequence>
          <xs:element minOccurs="0" name="Option" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NumberChoice" nillable="true" type="tns:NumberChoice" />
  <xs:complexType name="ImgChoice">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Choice">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImgChoice" nillable="true" type="tns:ImgChoice" />
  <xs:complexType name="ImgQuestion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Question">
        <xs:sequence>
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImgQuestion" nillable="true" type="tns:ImgQuestion" />
</xs:schema>